[submodule "inputs/raw"]
	path = inputs/raw
	url = /Users/cerpelloni/Desktop/VisualBraille/analysis/inputs/raw
	datalad-id = 0032ad78-7460-4af0-b3e3-30213ac9bbe9
	datalad-url = /Users/cerpelloni/Desktop/VisualBraille/analysis/inputs/raw
[submodule "code/lib/bidspm"]
	path = code/lib/bidspm
	url = git@github.com:cpp-lln-lab/bidspm.git