[submodule "outputs/derivatives"]
	path = outputs/derivatives
	url = ./outputs/derivatives
	datalad-id = f5ae1392-7108-4c79-b94f-98ddc8cc1982
[submodule "code/lib/CPP_SPM"]
	path = code/lib/CPP_SPM
	url = https://github.com/cpp-lln-lab/CPP_SPM.git
[submodule "inputs/raw"]
	path = inputs/raw
	url = /Users/cerpelloni/Desktop/VisualBraille/analysis/inputs/raw
	datalad-id = 0032ad78-7460-4af0-b3e3-30213ac9bbe9
	datalad-url = /Users/cerpelloni/Desktop/VisualBraille/analysis/inputs/raw
[submodule "ouptuts/derivatives/cpp_spm-preproc"]
	path = ouptuts/derivatives/cpp_spm-preproc
	url = ./ouptuts/derivatives/cpp_spm-preproc
	datalad-id = f69e8d1d-54e6-4ba8-b48e-19558a23bfca
[submodule "ouptuts/derivatives/fmriprep"]
	path = ouptuts/derivatives/fmriprep
	url = ./ouptuts/derivatives/fmriprep
	datalad-id = 311e2a4b-68a6-4176-8388-b049c2c00d60